@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
}


nav{
    background-color: black;
    color: white;
    height: 70px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'roboto', sans-serif;


}
nav ul{
    list-style-type: none;
}
.gameContainer{
    background-color: yellowgreen ;
     display: flex;
     justify-content: center;
     margin-top: 50px;
}
.container{
    display: -moz-box;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns:  repeat(3, 10vw);
    

}
.box{
    border: 2px solid black;
}